.Navbar{
    padding-top: 5px;
    width: 100%;

}
.Logo{
    height: 5rem;
    width: 5rem;
}
.logout{
    cursor: pointer;
}

.write{
    background-color: lightgreen;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    &:hover{
        color:teal;
        background-color: white;
        border: 1px solid teal;
    }
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6EE7B7; /* Teal-300 */
    padding: 1rem; /* Equivalent to p-4 */
    display: flex;
    justify-content: space-between; /* Equivalent to justify-between */
    align-items: center; /* Equivalent to items-center */
  }
  
